ul.ladder_game li
{
    list-style-type:none;
    float:left;
    padding:10px;
}


.TeamDiv
{
    min-width:50px;
    min-height:50px;
    border:solid 2px #000;
    float:left;
    padding:10px;
    max-width:90px;
    text-align:center;   
}

.Win
{
    color:red;
}

.Team1Score, .Team2Score
{
    font-size:45px;
    text-align:center;
}

.Team1Name, .Team2Name
{
    clear:both;
    display:block;
    font-size:20px;
}

.GameTime
{    
    clear:both;
    display:block;   
}

.dnnFormItem{width:300px;}